:root {
    --black: #282A36;
    --white: #F8F8F2;
    --blue: #8BE9FD;
    --red: #FF5555;
    --yellow: #F1FA8C;
    --green: #50FA7B;
    --magenta: #FF79C6;
}

input.box{
    width: 10%;
    height: 50px;
    border: none;
    border-bottom: 2px solid var(--magenta);
    outline: none;
    font-size: 15px;
    background-color: var(--black);
    color: #f1f1f0;

    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

input:focus{
    width: 80%;
}

form {
    padding-left: 15%;
}

div.container {
    padding-top: 10%;
    background-color: var(--black);
}

div.jumbotron {
    background-color: var(--black);
}

body.body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Space Mono', monospace;
    text-decoration-color: var(--green);
}

#dateTime {
    font-size: 15px;
}

p.end{
    padding-top: 35%
}

.box {
    height: 50px;
    font-size: 35px;
    text-align: center;
    font-size: 25px;
}

.blank_box {
    height: 50px;
    font-size: 35px;
    background-color: var(--black);
}

.bb {
    background-color: var(--blue);
    color: var(--black);
}

.rb{
    background-color: var(--red);
    color: var(--black);
}

.wb {
    background-color: var(--white);
    color: var(--black);
}

.gb {
    background-color: var(--green);
    color: var(--black);
}

.yb {
    background-color: var(--yellow);
    color: var(--black);
}